<h1 class="text-center">MotoBro</h1>
<p class="text-center">Привет МотоБрат! Если ты находишься на этой страничке, значит ты приобрёл курс от MotoBro!</p>
<p class="text-center">Заходи в наш канал и чат!</p>

<div class="container text-center">
    <h2>Канал по програмированию &copy; <%= link_to "RoR", "https://t.me/joinchat/UNFTFxPuFrRiajCD", class: "text-white" %></h2>
    <h2>Чат по програмированию &copy; <%= link_to "Frendly chat", "https://t.me/rorofmotobro", class: "text-white" %></h2>
    <h2>Mой  &copy; <%= link_to "GitHub", "https://github.com/ElcaroNossam/motobratiki", class: "text-white" %></h2>

    
    
    </div>