<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Курс от МотоБрата</h1>
    <p class="lead">Этот курс поможет тебе написать свой первый сайт.</p>
    <hr class="my-4">
   
   
  </div>
</div>
