<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small> &copy; <%= link_to "TikTok", "https://vm.tiktok.com/ZMJo1Gsh7/", class: "text-white" %></small></br>
    <small> &copy; <%= link_to "Instagram", "https://instagram.com/_ok_nel_set_?igshid=1hpw8a1ojq0sv", class: "text-white" %></small>
  </div>
</footer>