<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>TikTok &copy; <%= link_to "to.kp_production", "https://vm.tiktok.com/ZMJo1Gsh7/", class: "text-white" %></small>
  </div>
</footer>